@use './defaults.scss' as def; 

/* HERO VIDEO */

.hero {
  width: 100%; 

  box-shadow: 0 0 50px #000C; 
  border-bottom-left-radius: 50vw; 
  border-bottom-right-radius: 50vw; 
}

/* BIO */

.bio {
  @include def.fonts; 
  
  margin: 4rem 0; 

  display: flex; 
  flex-direction: column; 
  align-items: center; 
  
  .headline {
    @include def.headline-font; 
    
    display: flex; 
    flex-wrap: wrap; 

    .word {
      width: 50%; 
    }

    .word:nth-of-type(2n + 1) {
      padding: 0 0.5ch 0 0; 
      
      text-align: right; 
    }
    
    .word:nth-of-type(2n) {
      padding: 0 0 0 0.5ch; 
      
      text-align: left; 
    }
  }
  
  .copy {
    @include def.fonts; 
    
    max-width: 1024px; 
    margin: 1.2rem 2.4rem 0; 
    
    font-size: 0.75rem; 
  }
}

/* PROJECTS */

.projects {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-around; 

  --border-width: 11px; 
  --border-color: #664D4D; 

  .project {
    position: relative; 
    margin: 25px; 
    height: 450px; 
    width: 450px; 
  
    overflow: hidden; 

    border: var(--border-width) solid var(--border-color); 
    border-radius: 100vw; 
    transition: 0.333s box-shadow; 

    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 

    .lunette {
      z-index: 0; 
      height: 225px; 
      width: 450px; 
      
      background-color: #FFF; 
      
      border-bottom: var(--border-width) solid var(--border-color); 
      border-top-left-radius: 100vw; 
      border-top-right-radius: 100vw; 

      display: flex; 
      flex-direction: column; 
      justify-content: flex-end; 
      align-items: center; 
    }
    
    .description {
      @include def.fonts; 
      flex: 1 0 225px; 
      width: 300px; 
  
      font-size: 1rem; 

      border-top-left-radius: 100vw; 
      border-top-right-radius: 100vw; 

      display: flex; 
      justify-content: center; 
      align-items: flex-end; 
    }
    
    .title {
      @include def.fonts; 
      @include def.headline-font; 
      margin: 0.6rem 0; 
      
      font-size: 2.4rem; 
      line-height: 1; 
      text-align: center; 
    }
  
    .image {
      position: absolute; 
      right: 0; 
      bottom: 0; 
      left: 0; 
      height: 100%; 
      width: 100%; 
  
      object-position: bottom;
      object-fit: contain; 
    }
  }

}

// PROJECT ANIMATION 

@keyframes rainbow {
  0% {
    background-image: radial-gradient(closest-side, 
      
    #FFF0
      0%, 
      #FFF0 
      100%, 
    ); 
  }

  10% {
    background-image: radial-gradient(closest-side, 
      #FF0 
      0, 
      #FF0 
      10%, 
      
    #FFF0
      10%, 
      #FFF0 
      100%, 
    ); 
  }

  20% {
    background-image: radial-gradient(closest-side, 
      #FF0 
      0, 
      #FF0 
      10%, 
      
      #FAF 
      10%, 
      #FAF 
      20%, 
      
    #FFF0
      20%, 
      #FFF0 
      100%, 
    ); 
  }

  30% {
    background-image: radial-gradient(closest-side, 
      #FF0 
      0, 
      #FF0 
      10%, 
      
      #FAF 
      10%, 
      #FAF 
      20%, 
      
      #00F 
      20%, 
      #00F 
      30%, 
      
    #FFF0
      30%, 
      #FFF0 
      100%, 
    ); 
  }

  40% {
    background-image: radial-gradient(closest-side, 
      #FF0 
      0, 
      #FF0 
      10%, 
      
      #FAF 
      10%, 
      #FAF 
      20%, 
      
      #00F 
      20%, 
      #00F 
      30%, 
      
      #0FA 
      30%, 
      #0FA 
      40%, 
      
    #FFF0
      40%, 
      #FFF0 
      100%, 
    ); 
  }

  50% {
    background-image: radial-gradient(closest-side, 
      #FF0 
      0, 
      #FF0 
      10%, 
      
      #FAF 
      10%, 
      #FAF 
      20%, 
      
      #00F 
      20%, 
      #00F 
      30%, 
      
      #0FA 
      30%, 
      #0FA 
      40%, 
      
      #FAA 
      40%,
      #FAA 
      50%, 
      
    #FFF0
      50%, 
      #FFF0 
      100%, 
    ); 
  }

  60% {
    background-image: radial-gradient(closest-side, 
      #FF0 
      0, 
      #FF0 
      10%, 
      
      #FAF 
      10%, 
      #FAF 
      20%, 
      
      #00F 
      20%, 
      #00F 
      30%, 
      
      #0FA 
      30%, 
      #0FA 
      40%, 
      
      #FAA 
      40%,
      #FAA 
      50%, 
      
      #0AF 
      50%, 
      #0AF 
      60%, 
      
    #FFF0
      60%, 
      #FFF0 
      100%, 
    ); 
  }

  70% {
    background-image: radial-gradient(closest-side, 
      #FF0 
      0, 
      #FF0 
      10%, 
      
      #FAF 
      10%, 
      #FAF 
      20%, 
      
      #00F 
      20%, 
      #00F 
      30%, 
      
      #0FA 
      30%, 
      #0FA 
      40%, 
      
      #FAA 
      40%,
      #FAA 
      50%, 
      
      #0AF 
      50%, 
      #0AF 
      60%, 
      
      #AF0 
      60%, 
      #AF0 
      70%, 
      
    #FFF0
      70%, 
      #FFF0 
      100%, 
    ); 
  }

  80% {
    background-image: radial-gradient(closest-side, 
      #FF0 
      0, 
      #FF0 
      10%, 
      
      #FAF 
      10%, 
      #FAF 
      20%, 
      
      #00F 
      20%, 
      #00F 
      30%, 
      
      #0FA 
      30%, 
      #0FA 
      40%, 
      
      #FAA 
      40%,
      #FAA 
      50%, 
      
      #0AF 
      50%, 
      #0AF 
      60%, 
      
      #AF0 
      60%, 
      #AF0 
      70%, 
      
      #FA0 
      70%, 
      #FA0 
      80%, 
      
    #FFF0
      80%, 
      #FFF0 
      100%, 
    ); 
  }
   
  90% {
    background-image: radial-gradient(closest-side, 
      #FF0 
      0, 
      #FF0 
      10%, 
      
      #FAF 
      10%, 
      #FAF 
      20%, 
      
      #00F 
      20%, 
      #00F 
      30%, 
      
      #0FA 
      30%, 
      #0FA 
      40%, 
      
      #FAA 
      40%,
      #FAA 
      50%, 
      
      #0AF 
      50%, 
      #0AF 
      60%, 
      
      #AF0 
      60%, 
      #AF0 
      70%, 
      
      #FA0 
      70%, 
      #FA0 
      80%, 
      
      #0F0 
      80%, 
      #0F0 
      90%, 
      
    #FFF0
      90%, 
      #FFF0 
      100%, 
     ); 
   }

  100% {
    background: radial-gradient(closest-side, 
      #FF0 
      0, 
      #FF0 
      10%, 
      
      #FAF 
      10%, 
      #FAF 
      20%, 
      
      #00F 
      20%, 
      #00F 
      30%, 
      
      #0FA 
      30%, 
      #0FA 
      40%, 
      
      #FAA 
      40%,
      #FAA 
      50%, 
      
      #0AF 
      50%, 
      #0AF 
      60%, 
      
      #AF0 
      60%, 
      #AF0 
      70%, 
      
      #FA0 
      70%, 
      #FA0 
      80%, 
      
      #0F0 
      80%, 
      #0F0 
      90%, 
      
      #A0F
      90%, 
      #A0F 
      100%, 
    ); 
   }
}

.project:hover {
  animation: 0.333s rainbow 2 alternate; 
  box-shadow: 0 0 25px #655; 
}

// PROJECT OVERRIDES 

.project.lociai {
  .image {
    height: 225px; 

    object-fit: contain; 
    // object-fit: cover; 
    object-position: bottom; 
  }
}

.project.numbergames {
  .image {
    height: 225px; 

    object-fit: contain; 
  }
}

.project.encoding {
  .image {
    height: 225px; 

    object-position: 0 10px; 
    object-fit: cover; 
  }
}

.project.mansplane {
  .image {
    height: 225px; 

    object-fit: contain; 
  }
}

.project.cubism {
  .image {
    height: 225px; 

    object-fit: cover; 
    object-position: top; 
  }
}

.project.cubism {
  .image {
    height: 225px; 

    object-fit: cover; 
    object-position: top; 
  }
}

.project.networks {
  .lunette {
    height: 200px; 
    
    border: none; 
  }
}

.project.pixels {
  .image {
    height: 225px; 

    object-position: 0 -75px; 
    object-fit: cover; 
  }
}

.project.takeanumber {
  .image {
    height: 225px; 

    object-fit: fill;
  }
}

.project.feedback {
  .image {
    object-position: -4px 11px; 
  }
}

.project.memorizationtext {
  .image {
    height: 225px; 
    width: 500px; 
    
    object-fit: cover; 
    object-position: -25px -25px; 
  }
}

.project.writingpi {
}

.project.illustrations {
  .image {
    height: 225px; 
    
    object-position: 25px 25px; 
  }
}

/* FOOTER */

.footer {
  @include def.fonts; 

  margin: 8rem 0; 

  .headline {
    @include def.headline-font; 
  }
}