@use './defaults.scss' as def; 

/* HERO VIDEO */

.hero {
  width: 100%; 

  box-shadow: 0 0 50px #000B; 
  border-bottom-left-radius: 50vw; 
  border-bottom-right-radius: 50vw; 
}

/* BIO */

.bio {
  @include def.fonts; 
  
  margin: 4rem; 

  display: flex; 
  flex-direction: column; 
  align-items: center; 
  
  .headline {
    @include def.headline-font; 
    
    display: flex; 
    flex-wrap: wrap; 

    .word {
      width: 50%; 
    }

    .word:nth-of-type(2n + 1) {
      padding: 0 0.5ch 0 0; 
      
      text-align: right; 
    }
    
    .word:nth-of-type(2n) {
      padding: 0 0 0 0.5ch; 
      
      text-align: left; 
    }
  }
  
  .copy {
    max-width: 1024px; 
    margin: 1.2rem 0 0; 
    
    font-size: 0.75rem; 
    color: #AAA; 
  }
  
}

/* PROJECTS */

.projects {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-around; 

  .project {
    margin: 25px; 
    height: 450px; 
    width: 450px; 
  
    overflow: hidden; 
    // box-shadow: 0 0 25px #0002;
  
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    // background-color: #AAF; 
    
    .title {
      @include def.fonts; 
      @include def.headline-font; 
      
      width: 100%; 
      margin: 0.6rem 0; 
  
      font-size: 2.4rem; 
      line-height: 1; 
  
    }
  
    .description {
      @include def.fonts; 
  
      margin: 0 50px; 
  
      // color: #FFF; 
      font-size: 1rem; 
    }
  
    .image-link {
      border-radius: 50vw; 
    }
    
    .image {
      position: relative; 
      height: 220px; 
      width: 220px; 
      margin: 1.2rem; 
      padding: 11px; 
  
      object-position: top;
      border-radius: 50vw; 
      
      --bg: #FFF; 
      --bg1: #FFF; 
      --c: #333; 
      --c1: #BBB0; 
      --c2: #666; 
      --bp: 90%; 
      --bp1: 93.333%; 
      --bp2: 96.666%; 
      --grad: radial-gradient(closest-side, var(--bg) 0, var(--bg1) var(--bp), var(--c) var(--bp), var(--c) var(--bp1), var(--c1) var(--bp1), var(--c1) var(--bp2), var(--c2) var(--bp2), var(--c2) 100%, #FFF0 100%); 
      background-image: var(--grad); 
      background-size: 100% 100%; 
      transition: background-size 0.1666s linear, background-color 0.166s linear; 
    }

    @keyframes glimmer {
      0% {
        --c: #0F0; 
        --c1: #FAA; 
        --c2: #AAF; 
        --bg1: #FFF; 
      }
      
      50% {
        --c: #F00; 
        --c1: #AAF; 
        --c2: #AFA; 
        --bg1: #FFA; 
      }
      
      100% {
        --c: #00F; 
        --c1: #FAA; 
        --c2: #AAF; 
        --bg1: #FFF;
      }
    }

    @keyframes pulse{
      from {
        background-size:50% 50%;
      }
      to {
        background-size:100% 100%;
      }
    }
    
    .image:hover {
      background-size: 0 0;
      background-color: #AFF; 
      // animation: pulse 2s linear infinite alternate;

    }
  }
}

// PROJECT OVERRIDES 

.project.illustrations {
  .image {
    object-position: -35px 5px; 
  }
}


/* FOOTER */

.footer {
  @include def.fonts; 

  margin: 8rem 0; 

  .headline {
    @include def.headline-font; 
  }
}